{% extends 'base.html' %}
{% load static %}


<head>
    <title>Restaurant Recommender</title>
</head>

<body>
    {% block content %}

    <h1>Recommending restaurants because you visited - {{ lastvisited }}</h1><br />
    {% for rest in restdata %}
    <div class="card mb-3 col-7">
        <div class="row g-0">
            <div class="col-1">
                <img src="{%  static  'restrecommender/images/food-tray.svg' %}" width="150" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h4 class="card-title">{{rest.name}}</h4>
                    <p class="card-text">Cuisines - {{rest.cuisines}}</p>
                    <p class="card-text">Location - {{rest.city}}</p>
                    <p class="card-text"><small class="text-muted">Rating - {{rest.rating}}</small></p>
                    <p class="card-text"><small class="text-muted">Starting at Rs {{rest.cost}}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}






    {% endblock %}
</body>